.dish-card {
    width: 25%;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 4px;
    background-color: white;
    height: 323px;
    position: relative;
}

.dish-image {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
    width: 100%;
    height: 56%;
    margin-bottom: 12px;
}

.dish-name {
    margin: 4px;
    font-weight: bold
}

.dish-price {
    margin: 8px;
    position: absolute;
    bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #818181;
}

.dish-description {
    margin: 8px;
}
