<div class="order-item">
    <span class="order-item-amount">@(Dish.Amount)x</span>
    <span class="order-item-price">€@(Dish.Price * Dish.Amount)</span>
    <span class="order-item-name">@Dish.Name</span>
</div>