<div class="dish-card">
    <div class="dish-image" style="background-image: url(@ImageUrl)"></div>
    <div class="dish-name">@Name</div>
    <div class="dish-description">@Description</div>
    <div class="dish-price">€@Price</div>
</div>