.order-card {
    width: 44%;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 4px;
    background-color: white;
    min-height: 290px;
    position: relative;
    float: left;
    transition: opacity 0.1s ease-in-out;
    padding: 12px;
}

.order-status-title {
    text-align: center;
}

.order-status {
    font-weight: bold;
    font-size: 19px;
}

.New {
    color: #e3b909;
}

.BeingPrepared {
    color: orange;
}

.BeingDeliverd {
    color: #0a45ff;
}

.Deliverd {
    color: green;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #d7d7d7;
    margin-bottom: 16px;
    margin-top: 8px;
}

.order-status-button {
    background-color: #e6d435;
    border: none;
    color: black;
    padding: 9px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.update-order-status-title {
    text-align: center;
    font-size: 17px;
}