@page "/dishes"
@using ThuisbezorgdModels
@using FrontendApp.Components
@using FrontendApp.Interfaces

<div class="dishes-container">
    <h2>Ons menu.</h2>
    <div class="dishes-grid">
        Ziuz is always hungry..
    </div>
</div>
